.wp-block-latest-posts>li{
  overflow:hidden;
}

.wp-block-latest-posts li a>div{
  display:inline;
}

<<<<<<< HEAD
.editor-latest-posts-image-alignment-control .components-base-control__label{
  display:block;
}
.editor-latest-posts-image-alignment-control .components-toolbar{
  border-radius:2px;
}

=======
>>>>>>> 535c0c1 (initial commit)
:root :where(.wp-block-latest-posts){
  padding-right:2.5em;
}

:root :where(.wp-block-latest-posts.is-grid),:root :where(.wp-block-latest-posts__list){
  padding-right:0;
}